
@font-face {
    font-family: 'Heffler Text';
    src: url('../fonts/HefflerText/HefflerText.eot');
    src: local('☺'), url('../fonts/HefflerText/HefflerText.woff') format('woff'), url('../fonts/HefflerText/HefflerText.ttf') format('truetype'), url('../fonts/HefflerText/HefflerText.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
