body, html {
    width:                  100%;
    height:                 100%;
    overflow:               hidden;
    padding:                0;
    margin:                 0;
    background:             url('../img/blurred.png') fixed no-repeat bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* All Articles */
#wrapper {
    width:                  100%;
    height:                 100%;
}

article {
    overflow:               hidden;
}


h1 {
    text-align:             center;
    margin-top:             70px;
    font-size:              70px;
    line-height:            40px;
    font-family:            "Heffler Text", sans-serif;
    text-rendering:         optimizeLegibility; 
    letter-spacing:         0;
    color:                  #fff;
    position:               relative;
}


p {
    font-size:              16px;
    text-rendering:         optimizeLegibility; 
    letter-spacing:         0;
    color:                  #fff;
    position:               relative;
}

.centerText {
    text-align:             center;
}

.snowflake {
    position:               absolute;
    top:                    0px;
    bottom:                 0px;
    right:                  0px;
    left:                   0px;
    background-image:       url('../img/snowflaketransparent.png');
}



/*containers*/
.container {
    width:                  1400px;
    height:                 100%;
}

.textPage {
    width:                  800px;
    height:                 100%;
}

/* First Slide */
#titleImage {
    background:             url('../img/titledate.png') no-repeat center center;
    height:                 100%;
    margin-top:             -30px;
}

.downButton {
    background:             url('../img/downbutton.png') no-repeat;
    background-position:    bottom center;
    height:                 90px;
}

/*Common page elements*/
/*Margin between header and first line. Needs to be different to margins within p tag*/
.topMargin {
    margin-top:             60px;
}



/*Church page*/
.churchText {
    width:                  600px;
    float:                  left;
}


h3 {
    position:               relative;
    font-size:              25px;
    line-height:            1.5em;
    font-family:            "Heffler Text", sans-serif;
    text-rendering:         optimizeLegibility; 
    letter-spacing:         0;
    color:                  #d0d0d0;
    margin-top:             15px;
    margin-bottom:          0px;
    text-shadow:            1px 1px 4px rgba(0, 0, 0, 0.3);
    
}

.directions {
    font-size:              14px;
    line-height:            1.5em;
    text-rendering:         optimizeLegibility; 
}

.extraMargin {
    margin-top:             20px;
}


/*Close House page*/
.closeText {
    width:                  600px;
    float:                  right;
}


/* images */

#closeHouseImage {
    position:               relative;
    top:                    -355px;
    float:                  left;
    height:                 500px;
    width:                  500px;
}

#churchMap {
    position:               relative;
    top:                    -415px;
    float:                  right;
    height:                 500px;
    width:                  500px;
}

.addresses {
    font-size:              14px;
    text-rendering:         optimizeLegibility; 
    letter-spacing:         0;
    color:                  #d0d0d0;
    text-decoration:        none;
    text-align:             center;
    padding-top:            5px;
    width:                  500px;
}

.images {
    width:                  500px;
    height:                 359px;
    
    
    -webkit-box-shadow:     1px 1px 9px rgba(50, 50, 50, 0.30);
    -moz-box-shadow:        1px 1px 9px rgba(50, 50, 50, 0.30);
    box-shadow:             1px 1px 9px rgba(50, 50, 50, 0.30);
}


/*Menu page*/
h2 {
    text-align:             center;
    margin:                 60px auto 10px auto;
    font-size:              30px;
    font-family:            "Heffler Text", sans-serif;
    text-rendering:         optimizeLegibility; 
    letter-spacing:         0;
    color:                  #d0d0d0;
    position:               relative;
    text-shadow:            1px 1px 4px rgba(0, 0, 0, 0.3);
}

.menuText {
    text-align:             center;
    margin-top:             -10px;
}

/*otherbits page*/

.taxis {
    display:                inline-block;
    width:                  150px;
    text-align:             left;
}

.accomodation {
    display:                inline-block;
    width:                  280px;
    text-align:             left;
}

a {
    color:                  #d0d0d0;
}

/*Slider page*/
#myCarousel {
    position:               relative;
    margin-left:            auto;
    margin-right:           auto;
    margin-top:             50px;
    overflow:               auto; 
    width:                  600px;
    height:                 400px;
    
    -webkit-box-shadow:     1px 1px 9px rgba(50, 50, 50, 0.30);
    -moz-box-shadow:        1px 1px 9px rgba(50, 50, 50, 0.30);
    box-shadow:             1px 1px 9px rgba(50, 50, 50, 0.30);
}

#rsvp {
    text-align:             center;
    margin-top:             50px;
    margin-right:           auto;
    margin-left:            auto;
    width:                  600px;
}

/*Underlines*/
.underline {
    background-repeat:      no-repeat;
    height:                 20px;
    background-position:    center;
    position:               relative;
}

.plan {
    background-image:       url('../img/theplan_underline.png');
}

.church {
    background-image:       url('../img/thechurch_underline.png'); 
}

.closeHouse {
    background-image:       url('../img/closehouse_underline.png');   
}

.bits {
    background-image:       url('../img/otherbitsunderline.png');
}

.story {
    background-image:       url('../img/storyunderline.png');
}







/* Navigation */
nav {
    position:               fixed;
    left:                   1em;
    top:                    0;
    bottom:                 0;
    width:                  1em;
    height:                 6em;
    margin:                 auto;
    z-index:                101;
    font-size:              16px;
    text-align:             center;
}

nav ul {
    list-style:             none;
    padding:                0;
    text-align:             center;
    line-height:            1;
}

nav ul li {
    padding:                5px 0;
}

nav ul a {
    text-decoration:        none;
    background:             #aaa;
    display:                block;
    width:                  8px;
    height:                 8px;
    border:                 3px solid transparent;
    border-radius:          4px;
    margin:                 0 auto;
    -webkit-transition:     all 0.25s ease;
    -moz-transition:        all 0.25s ease;
    -o-transition:          all 0.25s ease;
    transition:             all 0.25s ease;
}

nav ul a.active {
    background:             transparent;
    border:                 1px solid #aaa;
    width:                  10px;
    height:                 10px;
}
