body, html {
    width:                  100%;
    height:                 100%;
    overflow:               hidden;
    padding:                0;
    margin:                 0;
    background:             url('../img/blurred.png') fixed no-repeat bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* All Articles */
#wrapper {
    width:                  100%;
    height:                 100%;
}

article {
    overflow:               hidden;
}


h1 {
    text-align:             center;
    margin:                 70px;
    font-size:              70px;
    font-family:            "Heffler Text", sans-serif;
	text-rendering:         optimizeLegibility; 
	letter-spacing:         0;
    color:                  #fff;
    position:               relative;
}


p {
	text-rendering:         optimizeLegibility; 
	letter-spacing:         0;
    color:                  #fff;
    text-shadow:            1px 1px 3px rgba(0, 0, 0, 0.5);
    position:               relative;
}

.snowflake {
    position:               absolute;
    top:                    0px;
    bottom:                 0px;
    right:                  0px;
    left:                   0px;
    background-image:       url('../img/snowflaketransparent.png');
}

.container {
    width:                  1400px;
    height:                 100%;
}

/* First Slide */
#titleImage {
    background:             url('../img/titledate.png') no-repeat center center;
    height:                 100%;
    margin-top:             -30px;
}

.downButton {
    background:             url('../img/downbutton.png') no-repeat;
    background-position:    bottom center;
    height:                 90px;
}

/*Common page elements*/
/*Margin between header and first line. Needs to be different to margins within p tag*/
.topMargin {
    margin-top:             70px;
}

.images {
    width:                  500px;
    height:                 359px;
    
    
    -webkit-box-shadow:     1px 1px 9px rgba(50, 50, 50, 0.30);
    -moz-box-shadow:        1px 1px 9px rgba(50, 50, 50, 0.30);
    box-shadow:             1px 1px 9px rgba(50, 50, 50, 0.30);
}


/*Church page*/
#churchText {
    width:                  650px;
    padding:            80px 80px 0px 0px;
}

#churchMap {
    position:               absolute;
    top:                    237px;
    bottom:                 auto;
    right:                  140px;
    left:                   auto;
}


/*Close House page*/
#closeText {
    width:                  650px;
    padding:                80px 0px 0px 80px;
    float:                  right;
}
#closeHouseImage {
    position:               absolute;
    top:                    237px;
    bottom:                 auto;
    right:                  auto;
    left:                   140px;
}


/*Menu page*/
h2 {
    text-align:             center;
    margin:                 40px auto 20px auto;
    font-size:              30px;
    font-family:            "Heffler Text", sans-serif;
	text-rendering:         optimizeLegibility; 
	letter-spacing:         0;
    color:                  #fff;
    position:               relative;
}

.menuText {
    text-align:             center;
    margin-top:             -10px;
}

/*Slider page*/
#myCarousel {
    position:               relative;
    margin-left:            auto;
    margin-right:           auto;
    margin-top:             50px;
    overflow:               auto; 
    width:                  600px;
    height:                 400px;
    
    -webkit-box-shadow:     1px 1px 9px rgba(50, 50, 50, 0.30);
    -moz-box-shadow:        1px 1px 9px rgba(50, 50, 50, 0.30);
    box-shadow:             1px 1px 9px rgba(50, 50, 50, 0.30);
}

#rsvp {
    text-align:             center;
    padding:                60px;
}

/*Footer*/
#linkFooter {
    background-color:       #323337;
    background-position:    bottom center;
    height:                 1000px;
    width:                  100%;
    color:                  #c0bebd;
    position:               absolute;
    margin-top:             -100px;
}

#footerText {
    color:                  #666;
    text-align:             center;
	text-rendering:         optimizeLegibility; 
	letter-spacing:         0;
    text-shadow:            none;
    font-size:              14px;
    padding:                80px;
}

/*Underlines*/
.underline {
    background-repeat:      no-repeat;
    height:                 20px;
    background-position:    center;
    position:               relative;
    margin-top:             -90px;
}

.plan {
    background-image:       url('../img/theplan_underline.png');
}

.church {
    background-image:       url('../img/thechurch_underline.png'); 
}

.closeHouse {
    background-image:       url('../img/closehouse_underline.png');   
}

.menu {
    background-image:       url('../img/menu_underline.png');
}

.gifts {
    background-image:       url('../img/gifts_underline.png');
}





/* Navigation */
nav {
    position:               fixed;
    left:                   1em;
    top:                    0;
    bottom:                 0;
    width:                  1em;
    height:                 6em;
    margin:                 auto;
    z-index:                101;
    font-size:              16px;
    text-align:             center;
}

nav ul {
    list-style:             none;
    padding:                0;
    text-align:             center;
    line-height:            1;
}

nav ul li {
    padding:                5px 0;
}

nav ul a {
    text-decoration:        none;
    background:             #aaa;
    display:                block;
    width:                  8px;
    height:                 8px;
    border:                 3px solid transparent;
    border-radius:          4px;
    margin:                 0 auto;
    -webkit-transition:     all 0.25s ease;
    -moz-transition:        all 0.25s ease;
    -o-transition:          all 0.25s ease;
    transition:             all 0.25s ease;
}

nav ul a.active {
    background:             transparent;
    border:                 1px solid #aaa;
    width:                  10px;
    height:                 10px;
}
